*{
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url("back1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.reg{
  background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
}
.reg input{
  padding:5px;
  margin: 5px;
  background: transparent;
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
}
::-moz-placeholder{
	text-align: center;
  color:white;
}
.signin{

}
.regbtn{
  margin-top: 10px;
  width: 100px;
  height: 35px;
  background: transparent;
  color:white;
  margin-left:70%;
  border: 3px solid white;
  border-radius: 10px;
}
.regbtn:hover{
  background: #4CAF50;
}
.signin a:visited{
  background: cyan;
}
